<head>
  <title>このアプリの説明</title>
</head>

<body>
  <h2>このアプリの説明</h2>
  <p>
  百人一首好きの人なら、歌枕巡りをしたい人も多いのではないでしょうか。歌枕といえば絶景、風光明媚、それから欠かせないのが歌碑です。
  </p>
  <p>
  問題は、歌枕も歌碑も、場所を調べるのに骨が折れることです。ネットで散らばっている情報をもとにして行くしかありません。
  </p>
  <p>
  そこで！　このアプリは、ユーザー様の住所から小倉百人一首ゆかりの歌枕(歌碑)へのアクセス方法と、歌枕周辺の旅館、飯処、温泉の場所を出力するWebアプリです。
  </p>
  <p>
  ユーザー様の住所は、登録時に入力頂いたものを使用します。
  </p>
  
  
</body>
