<head>
  <title>そもそも百人一首とは</title>
</head>

<body>
  <h2>そもそも百人一首とは</h2>
  <p>百人一首とは、100人の歌人の和歌を、一人一首ずつ選んで作った秀歌撰です。</p>
  <p>本アプリで扱うのは、藤原定家が京都・小倉山の山荘で選んだとされ、歌がるたとして広く用いられている小倉百人一首です。</p>
  <p>室町時代に入ると、小倉百人一首は歌道の入門用として一般の人々にも広まり始めました。この頃から、武士や貴族の間で和歌をかるたのようにして遊ぶようになったと言われています。</p>
  <p>また、江戸時代に入り木版画の技術が発達すると、南蛮から伝わった「かるた」あそびと合わせて、庶民も百人一首をかるたとして遊ぶようになりました。</p>
</body>
