<h2>プロフィール情報</h2>
<body>
  <table align=center style="font-size:17px;" >
    <tr>
      <td width = 200>氏名</td>
      <td width = 300><%= @user.name %></td>
    </tr>
    <tr>
      <td width = 200>Eメールアドレス</td>
      <td width = 300><%= @user.email %></td>
    </tr>
    <tr>
      <td width = 200>住所</td>
      <td width = 300><%= @user.address %></td>
    </tr>
  </table>
</body>